<h1><center>Food Spots</center></h1>
<p><center>Name: <%= @restaurant.name %></center></p>
<p><center>Rating: <%= @restaurant.rating %></center></p>
<p><center>Can you bring your offspring? <%= @restaurant.allows_children %></center></p>
<p><center>Number of Hot Sauces: <%= @restaurant.spicy_sauce_count %></center></p>
<p><center><a href="/restaurants/<%= @restaurant.id %>/spicy_sauces"></a></center></p>