<h1><center>Hot Sauces</center></h1>
<% @spicysauces.each do |spicysauce| %>
  <h3><center>Name: <%= spicysauce.name %></center></h3>
  <h5><center>Spice Level: <%= spicysauce.spice_level %></center></h5>
  <h5><center>Calories: <%= spicysauce.calories %></center></h5>
  <h5><center>Made Fresh: <%= spicysauce.made_today %></center><h5>
<% end %>

<center><%= link_to "New Sauce", "/restaurants/#{@restaurants.id}/spicy_sauces/new" %></center>
