<!DOCTYPE html>
<html>
  <head>
    <title>HotSauce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <center><%= link_to "Feelin' Saucy? ;)", '/spicy_sauces/' %></center>
    <center><%= link_to "Gotta Have Food For The Sauce!", '/restaurants' %></center>
  </body>
</html>
